*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav {
    display: inline-block;
    .nav {
        list-style: none;
        > li {
            display: inline-block;
        }
    }
}
