.contact {
    color: white;
    h3{
        font-weight: 500;
        font-size: 30px;
        margin-bottom: 10px;
        text-transform: uppercase;
        @media all and (min-width:400px){
            font-size: 38px;
            margin-bottom: 30px;
        }
    }
    .form {
        label {
            display: block;
            margin:15px 20px 5px 20px;
            font-size: 20px;
            font-family: "Comic Sans MS", sans-serif;
        }
        input[type='text'], input[type='email']  {
            min-width:200px;
            max-width: 300px;
            width:100%;
            height:26px;
            line-height: 22px;
            font-size: 18px;
            font-family: "Comic Sans MS", sans-serif;
            //margin:0 10px;
        }
        textarea  {
            min-width:200px;
            max-width: 400px;
            width:100%;
            height: 100px;
            line-height: 22px;
            font-size: 18px;
            font-family: "Comic Sans MS", sans-serif;
            resize: none;
        }
        input[type='submit']{
            padding: 10px 30px;
            background-color: red;
            border:none;
            outline:none;
            font-size: 17px;
            font-weight: 500;
            color:white;
            margin:10px 10px;
            border-radius:5px;
            &:hover {
                background-color: white;
                color: red;
                transform: scale(1.1);
                transition: 1.5s;
            }
        }
    }
}
