.home {
    p {
        font-size: 24px;
        font-weight: 400;
        line-height: 26px;
        color: white;
        margin-bottom: 20px;
    }
    h1 {
        font-size: 60px;
        font-weight: 400;
        line-height: 60px;
        color:white;
        margin-bottom: 50px;
    }
    button {
        font-size: 20px;
        font-weight: 400;
        color:white;
        background-color: red;
        border-radius: 5px;
        width:200px;
        height:70px;
        cursor: pointer;
        border: none;
        &:hover {
            color: red;
            background-color: white;
        }
    }
}
