.home {
    p {
        font-size: 24px;
        font-weight: 400;
        line-height: 26px;
        color: white;
        margin-bottom: 20px;
    }
    h1 {
        font-size: 40px;
        font-weight: 400;
        line-height: 40px;
        color:white;
        margin-bottom: 50px;
        @media all and (min-width:840px){
            font-size: 60px;
            line-height: 60px;
        }
    }
    .buttonLink{
        font-size: 20px;
        font-weight: 400;
        background-color: red;
        border-radius: 5px;
        display:flex;
        justify-content: center;
        align-items: center;
        width:200px;
        height:70px;
        color:white;
        text-decoration: none;
        cursor: pointer;
        &:hover{
            color:red;
            background-color: white;
        }
    }
}
