.secondSection {
    min-height: 500px;
    h3 {
        margin-top:55px;
        font-size: 32px;
        font-weight: 700;
        line-height: 34px;
        margin-bottom: 55px;
        @media all and (min-width: 840px){
            margin-bottom: 175px;
            margin-top:175px;
            font-size: 48px;
            font-weight: 700;
            line-height: 50px;
        }
    }
    .topPar, .bottomPar {
        font-size: 16px;
        font-weight: 400;
        color: #b7b7b7;
        line-height: 28px;
    }
    .topPar {
        margin-top: 25px;
        @media all and (min-width: 840px){
            margin-top:125px;
        }
    }
    .bottomPar{
        margin-top: 26px;
        margin-bottom: 25px;
        @media all and (min-width: 840px){
            margin-bottom:125px;
        }
    }
}
